@charset "utf-8";
/* CSS Document */

/* FONTS */
@font-face {
    font-family: "BlantickScript";
    src: url(../fonts/BlantickScript.ttf);  
}

nav{
    padding-top:-8px;
    padding-bottom:-8px;
}

/*Variables CSS*/
:root {
    /*FONDOS*/
    --bg-col1: white;
    --bg-col2: rgba(242, 242, 245, 1);
    --bg-col3: rgba(23, 23, 54, 1);
    --bg-col4: rgba(41, 33, 82, 1);
    --bg-col5: rgba(47, 47, 75, 1);
    --bg-col6: rgba(227, 36, 36, 1);

    /*LETRAS*/
    --cl-Blanca: white;
    --cl-Negra: black;
    --cl-LilaClaro: rgba(169, 166, 185, 1);

    /*BOTONES*/
    --bb-CartaCarousel: rgba(215, 3, 3, 1);
    --bb-CartaCarouselHover: rgba(213, 34, 34, 1);
    --bb-Descubrenos:rgba(227, 36, 36, 1);

}

/*SECCIONES*/

.section1{
    background-color: var(--bg-col4);
}

.section2{
    background-color: var(--bg-col2);
}

.section4{
    background-color: var(--bg-col2);
}

.seccionProducto{
    background-color: var(--bg-col3);
}

.seccionCarta{
    background-color: var(--bg-col2);
}

.seccionUbicación{
    background-color: var(--bg-col1);
}

.SubMenu{
    background-color: var(--bg-col2);
}

/*CONTENEDORES*/
.container{
    max-width: 1190px;
    padding: 0px;
}

.header1{
    background-color: var(--bg-col3)!important;
    height: 72px!important;
}

.collapse{
    padding-left: 0px;
    padding-right: 0px;
    height: 72px!important;
}

.slidePrincipal{
    height: 500px;
    background-repeat: no-repeat;
}
.divContenidoCarousel{
    height: 200px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 90px;
    padding-top: 250px;
}


.container1{
    padding-top: 40px; 
    padding-bottom: 40px;
}

.container2{
    height: 270px;
    padding-top: 40px;
    padding-bottom: 28px;
}

.container3{
    padding-top: 20px;
}

.container4 p{
    display: inline-flex;
}

.div-botonesProductos{
    padding-left: 12px;
    padding-right: 12px;
}

.div-botonesProductos-hover{
    background-color: var(--bg-col3); 
    width: 274px;
    height: 170px;
    border-radius: 4px;
    transition: background-color 0.3s ease-out;
    
}

.div-botonesProductos-hover:hover{
    background-color: var(--bg-col6);
}

.divContenidoBotonesProductos1{
    padding-left: 30px;
    padding-right: 62px;
    padding-top: 30px;
}

.divContenidoBotonesProductos2{
    padding-left: 27.825px;
    padding-top: 73px;
}



.dviContenidoSeccion4{
    background-color: var(--bg-col4);
    height: 400px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}


/*PRODUCTOS*/
.contenidoProductos{
    background-color: var(--bg-col1);
    width: 274px;
    /* height: 173px; */
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 12px;
    margin-bottom: 24px;
}

.imgProductos{
    width: 274px;
    height: 173px;
}

.nombreProducto{
    font-family: 'Barlow';
    font-weight:600;
    color: var(--cl-Negra);
    font-size: 17px;
    /* margin-left: 10px;
    padding-top: 10px; */
}

.precioProducto{
    font-family: 'Barlow';
    font-weight:400;
    color: var(--cl-Negra);
    font-size: 15px;
    /* margin-left: 10px;
    margin-top: 8px; */
}

.categoriaProducto{
    font-family: 'Barlow';
    font-weight:400;
    color: var(--cl-Negra);
    font-size: 14px;
    /* margin-left: 10px;
    margin-top: 8px; */
}

.botonAñadir{
    width: 247px;
    height: 49px;
    border-radius: 4px;
    background-color: var(--cl-Negra);
    border: none;
    font-family: 'Barlow';
    font-weight:600;
    color: var(--cl-Blanca);
    font-size: 16px;
    transition: background-color 0.3s ease-out;
}

.botonAñadir:hover{
    background-color: var(--bg-col4);
}

/*P TIPO LETRAS*/

.pCartaHeader{
    font-family: 'Barlow';
    font-weight:500;
    color: var(--bg-col4);
    font-size: 17px;
    margin-left: 10px;
    margin-top: 8px;
}

.botonCarta:hover .pCartaHeader{
    color: var(--cl-Blanca);
}

.pCarrousel{
    font-family: 'Barlow';
    font-weight:400;
    color: var(--bg-col1);
    font-size: 20px;
}

.pSeccion1{
    font-family: 'Barlow';
    font-weight:400;
    color: var(--bg-col1);
    font-size: 16px;
    margin-bottom: 16px;
}

.pSeccion2{
    padding-top: 20px;
    line-height: 23px;
    font-family: 'Barlow';
    font-weight:500;
    color: var(--bg-col1);
    font-size: 20px;    
    width: 150px;
}

.pSeccion4{
    font-family: 'Barlow';
    font-weight:400;
    color: var(--bg-col1);
    font-size: 17px;
    margin-top: 25px;
}

.pContador{
    font-family:'Work Sans';
    font-weight: 650;
    color: var(--cl-Negra);
    font-size: 20px;
    padding-top: 20px;
}

.pProductos{
    font-family:'Work Sans';
    font-weight: 600;
    color: var(--cl-Negra);
    font-size: 12px;
    margin-top: 16px;
    position: relative;
    text-decoration: none;
    cursor: pointer 
}

.pProductos::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; /* Ajusta esta propiedad para cambiar la posición vertical del subrayado */
    height: 1.8px; /* Grosor del subrayado */
    width: 100%;
    background-color: var(--cl-Negra); /* Color del subrayado */
    transform: scaleX(0); /* Inicialmente sin longitud */
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.pProductos:hover::after {
    transform: scaleX(1); /* Mostrar el subrayado al pasar el ratón */
}

/*TITULOS / SUBTITULOS*/
h1{
    font-family:'Work Sans';
    font-weight: 600;
    color: var(--bg-col1);
    font-size: 36px;
}

h2{
    font-family:'Work Sans';
    font-weight: 600;
    color: var(--bg-col1);
    font-size: 32px;
    margin-top: 17px;   
}

.h2ContenidoSeccion3{
    color: var(--cl-Negra);
    margin-bottom: 40px;
    font-size: 31px;

}

.h2Seccion4{
    
    color: var(--bg-col1);
    font-size: 32px;
    margin-top: 0px;   
}

.h2SeccionProducto{
    font-family:'Work Sans';
    font-weight: 600;
    color: var(--bg-col1);
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 25px;
    padding-bottom: 25px;   
}

/*IMAGENES*/
.imgCarta{
    background-image:url('../images/ICONOS/HEADER/menuOF.png');
    width: 24px;
    height: 24px;
    position: relative;
    margin-left: 16px;
    margin-top: 8px;
}

.botonCarta:hover .imgCarta{
    background-image: url('../images/ICONOS/HEADER/menuOF2.png');
    width: 24px;
    height: 24px;
    position: relative;
    margin-left: 16px;
    margin-top: 8px;
}

.imgCarrito{
    background-image: url('../images/ICONOS/HEADER/carrito-de-compras1.png');
    height: 32px;
    width: 32px;
}

.imagenesSeccionesProductos1{
    background-image:url('../../assets/images/ICONOS/SECCION1/prueba.png');
    width: 44px;
    height: 44px;
}

.div-botonesProductos-hover:hover .imagenesSeccionesProductos1{
    background-image:url('../../assets/images/ICONOS/SECCION1/prueba2.png');
}
.imagenesSeccionesProductos2{
    background-image:url('../../assets/images/ICONOS/SECCION1/plato.png');
    width: 44px;
    height: 44px;
}
.div-botonesProductos-hover:hover .imagenesSeccionesProductos2{
    background-image:url('../../assets/images/ICONOS/SECCION1/plato2.png');
}
.imagenesSeccionesProductos3{
    background-image:url('../../assets/images/ICONOS/SECCION1/zumo.png');
    width: 44px;
    height: 44px;
}
.div-botonesProductos-hover:hover .imagenesSeccionesProductos3{
    background-image:url('../../assets/images/ICONOS/SECCION1/zumo2.png');
}
.imagenesSeccionesProductos4{
    background-image:url('../../assets/images/ICONOS/SECCION1/postres.png');
    width: 44px;
    height: 44px;
}
.div-botonesProductos-hover:hover .imagenesSeccionesProductos4{
    background-image:url('../../assets/images/ICONOS/SECCION1/postres2.png');
}

.imagenesSeccionesFlecha{
    width: 24px;
    height: 24px;
}

.logoifema{
    width: 85.78px;
    height: 65.27px;
}


.imgSeccion3{
    background-image: url(../images/cocinero-de-tienda-de-alimentos.jpg);
    height: 400px;
    background-position: center;
    background-size: 102% auto;
}


/*BOTONES*/

.botonCarta{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--bg-col1);
    margin-right: 7px;
    transition: background-color 0.3s ease-out;
}

.botonCarrito{
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-out;

}

.botonCarrito:hover{
    background-color: var(--bg-col4);
}

.botonCarta:hover{
    background-color: var(--bg-col6);
}

.botonCartaCarousel{
    width: 156px;
    height: 47px;
    border-radius: 4px;
    border: none;
    background-color:  var(--bb-CartaCarousel);
    font-family:'Barlow';
    font-weight: 600;
    font-size: 17px;
    color: var(--cl-Blanca);
    transition: background-color 0.3s ease-out;
}

.botonCartaCarousel:hover{
    background-color: var(--bb-CartaCarouselHover);
}

.botonDescubrenos{
    width: 243px;
    height: 47px;
    border-radius: 4px;
    border: none;
    background-color:  var(--bb-Descubrenos);
    font-family:'Barlow';
    font-weight: 600;
    font-size: 17px;
    color: var(--cl-Blanca);
    margin-top: 20px;
    transition: background-color 0.3s ease-out;
}

.botonDescubrenos:hover{
    background-color:  var(--bb-Descubrenos);
}


.botonSubMenu {
    display: inline-block;
    padding: 5px 13px;
    margin-right: 10px;
    font-size: 17px;
    border: none;
    color: var(--cl-Negra);
    border-radius:20px;
    transition: background-color 0.3s ease-out;
}

.botonSubMenu:hover {
    background-color: var(--cl-Negra);
    color: var(--cl-Blanca);
}

/* .botonSubMenu.clicado {
    background-color: #2ecc71;
} */


/*FOOTER*/
footer{
    margin-top: auto;
    min-height: 100%;
}

.contenidoFooter {
    background-color: var(--bg-col4);
    color: white;
    text-align: center;
    padding: 10px;
}

.social-icons {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.bi{
    color: white;
    width: 2em;
    height: 2em;
    margin: 10px;
}

.social-icons a:hover .bi{
    color: red;
}


/*EXTRAS*/
.contador{
    color: var(--cl-Blanca);
}

.bi-caret-right-fill{
    color: var(--cl-Negra);
    width: 11px;
    height: 10px;
    margin: 4px;
}

/*Media query*/
@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */

    h1{
        color: var(--bg-col2);
        width: 100%;
    }
}